html(lang="en")
  head
    meta(charset="utf-8")
    title DomoMaker
    script(type='text/javascript' src='/assets/jquery-1.5.1.min.js')
    
    
    link(rel="shortcut icon", href="/assets/img/favicon.png")
    block style
  block body
  block scripts